.menbersWidgetContainer{
    flex: 1;
    padding: 10px;
    margin-left: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  }
  .menbersWidgetTitle{
    font-size: 20px;
    font-weight: 600;
  }
  .widgetImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .menberWidgetList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menbersWidgerListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .menberWidgetUser{
    display: flex;
    flex-direction: column;
  }
  .menberWidgetUsername {
    font-weight: 600;
  }
  .menberWidgetUserTitle {
    font-weight: 300;
  }
  .menberWidgetButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
  }
  .menberWidgetIcon {
    font-size: 16px;
    margin-right: 5px;
  }
  